<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sslab.knu.ac.kr.qdmonitor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".QDListenerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PopupService"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Audio">
        </activity>
    </application>

</manifest>